<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/vaadin-text-field.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/vaadin-time-picker/vaadin-time-picker.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<dom-module id="tag-alex">
    <!--Doppia quadra è 'One way binding' mentre doppia graffa è 'Two way binding'-->
    <template>


        <div style="margin-left:5em">

            <h1>
                <vaadin-text-field id="title" label="Titolo" value="{{title}}"></vaadin-text-field>
            </h1>

            <dom-repeat items="{{items}}">

                <template>

                    <div>
                        <iron-icon icon="[[item.icon]]" slot="prefix"></iron-icon>
                        <vaadin-text-field label="Name" value="{{item.name}}"></vaadin-text-field>
                        <vaadin-text-field label="Paese" value="{{item.city}}"></vaadin-text-field>
                        <vaadin-time-picker label="Arrival hour (hh:mm)" value="{{item.inizio}}"></vaadin-time-picker>

                        <button on-click="submitItem">Submit item</button>

                        <hr>
                    </div>

                </template>

            </dom-repeat>


            <div style="margin-top:5em">
                <button on-click="submitForm">Submit form</button>
                <p>
                    Message from server: <strong>[[message]]</strong>
            </div>

        </div>


    </template>

    <script>

        class MyPolymerElement extends Polymer.Element {
            static get is() {
                return 'tag-alex'
            }
        }

        class EventHandler extends Polymer.Element {
            static get is() {
                return 'event-handler'
            }
        }


        customElements.define(MyPolymerElement.is, MyPolymerElement);


    </script>

</dom-module>
