<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/vaadin-form-layout/src/vaadin-form-layout.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/src/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/vaadin-text-field/src/vaadin-text-field.html">
<link rel="import" href="../../../src/views/prova/edit-iscrizione.html">
<link rel="import" href="../../../src/views/prova/algos-testa.html">
<link rel="import" href="../../../src/views/prova/algos-coda.html">
<link rel="import" href="../../../src/views/prova/form-buttons-bar.html">

<dom-module id="iscrizioni-una">
    <template>
        <algos-testa>prova</algos-testa>
        <edit-iscrizione id="first"></edit-iscrizione>
        <algos-coda id="buttons"></algos-coda>
    </template>

    <script>
        class HelloWorld2 extends Polymer.Element {
            static get is() {
                return 'iscrizioni-una'
            }
        }

        customElements.define(HelloWorld2.is, HelloWorld2);
    </script>

</dom-module>
