<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!--form centrato orizzontalmente nella pagina, contiene tutto-->
<!--solo testo, senza bottoni (da cui DialogoZero=zero bottoni)-->
<!--occorre un template generale e poi, dentro, <vaadin-dialog> che a sua volta contiene un template-->
<!--dentro il dialogo NON si possono usare Component iniettati con @ID ma occorre usare un TemplateModel-->
<dom-module id="dialogo-zero">
    <template>
        <vaadin-dialog id="dialog">
            <template>
                <div>[[bodyText]]</div>
            </template>
        </vaadin-dialog>
    </template>

    <script>
        class NomeClasseIrrilevanteDialogoZero extends Polymer.Element {
            static get is() {
                return 'dialogo-zero'
            }// end of static script method
        }// end of script class
        customElements.define(NomeClasseIrrilevanteDialogoZero.is, NomeClasseIrrilevanteDialogoZero);
    </script>
</dom-module>
